@import '../Tool/variables';

.loader
{

    &__container, &__cube
    {
        transform-style: preserve-3d;
    }

    &__container
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    &__cube 
    {
        width: 100px;
        height: 100px;
        position: relative;
        animation: spin 3s infinite linear;
    }

    &__side 
    {
        position: absolute;
        width: 100px;
        height: 100px;
        border: 3px solid #fff;
        box-sizing: border-box;
    
        &--front 
        {
            transform: translateZ(50px);
        }

        &--back 
        {
            transform: rotateY(180deg) translateZ(50px);
        }
        
        &--left 
        {
            transform: rotateY(-90deg) translateZ(50px);
        }
        
        &--right 
        {
            
            transform: rotateY(90deg) translateZ(50px);
        }

        &--top 
        {
            transform: rotateX(90deg) translateZ(50px);
        }
        
        &--bottom 
        {
            transform: rotateX(-90deg) translateZ(50px);
        }
    }
} 

@keyframes spin 
{
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
}