@import '../Tool/mixins';
@import '../Tool/variables';

.technologie {
    @include flexContainer(column, center, center, nowrap);
    row-gap: 20px;
    width: 100%;

    @media (max-width: 576px) {
        margin-top: 50px;
    }

    &__title {
        flex: 0 1 10%;

        &--lightblue {
            color: $lightblue;
        }

        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__desc {
        @include flexContainer(row, center, center, wrap);
        row-gap: 10px;
        column-gap: 10px;
        font-weight: bold;

        &__img {
            filter: invert(100%);

            &:hover {
                animation: rotation 0.8s ease-in;
            }
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotateX(0deg);
    }
    33% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    66% {
        transform: rotateX(270deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}
